{{define "title"}}Home{{end}} 

{{define "main"}}
<section class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-text">
        <h2>No more<br />super long links</h2>
        <p>
          Turn long links into readable links that you can easily manage in one
          place
        </p>
        <div class="hero-cta">
          <form id="home-link-create-form">
            <input
              type="text"
              name="url"
              placeholder="https://super-long-link.com/please-shorten-it"
            />
            <button type="submit" class="btn btn-solid-primary">Shorten</button>
          </form>
          <span class="error"></span>
          <div class="hero-cta-result">
          </div>
          <span><a href="/users/login">Login</a>to unlock all features</span>
        </div>
      </div>
      <div class="hero-img">
        <img src="/static/img/hero-img.svg" alt="Hero image" />
      </div>
    </div>
  </div>
</section>
{{end}}

{{define "script"}}
<script src="/static/js/home.js"></script>
{{end}}