{{define "title"}}Edit Link{{end}}

{{define "main"}}
<section class="link-create-edit">
  <div class="container">
    <div class="link-create-edit-content">
      <h2>Edit a link</h2>
      <p>Modify the link you created.</p>
      <form id="link-edit-form">
        <div class="url form-field">
          <label for="url">Long link</label>
          <input
            type="text"
            name="url"
            id="url"
            placeholder="https://super-long-link.com/please-shorten-it"
            value="{{.Link.URL}}"
          />
          <span class="error"></span>
        </div>
        <div class="form-two-columns">
          <div class="domain form-field">
            <label for="domain">Domain</label>
            <input
              type="text"
              name="domain"
              id="domain"
              value="{{.Origin.host}}"
              disabled
            />
          </div>
          <div class="back-half form-field">
            <label for="back-half">
              Custom back-half
              <span class="label-note">(optional)</span>
            </label>
            <input type="text" name="back-half" id="back-half" value="{{.Link.BackHalf}}" />
            <span class="error"></span>
          </div>
        </div>
        <div class="buttons">
          <button type="button" class="btn btn-solid-light btn-back">
            Cancel
          </button>
          <button type="submit" class="btn btn-solid-primary btn-submit">
            Save
          </button>
        </div>
      </form>
    </div>
    <aside>
      <div class="side-info">
        <div class="side-info-item">
          Total Links
          <span class="side-info-value">5 short links</span>
        </div>
        <div class="side-info-item">
          Total Engagements
          <span class="side-info-value">58 clicks</span>
        </div>
      </div>
    </aside>
  </div>
</section>
{{end}}

{{define "script"}}
<script src="/static/js/link-edit.js"></script>
{{end}}