{{define "title"}}Link Detail{{end}}

{{define "main"}}
<section class="link-detail">
  <div class="container">
    <div class="main-nav">
      <a href="/links/list">&lt; View all links</a>
    </div>
  </div>
  <div class="container">
    <div class="link-detail-content">
      <a href="https://stn.nadiannis.com/short-key" target="_blank">
        <h2>stn.nadiannis.com/short-key</h2>
      </a>
      <a
        href="https://drive.google.com/drive/folders/1hqYFr0eiOE3MAeUtq2Lso3YV0KjEocdW1hqYFr0eiOE3MAeUtq2Lso3YV0KjEocdW1hqYFr0eiOE3MAeUtq2Lso3YV0KjEocdW"
        target="_blank"
      >
        <p>
          https://drive.google.com/drive/folders/1hqYFr0eiOE3MAeUtq2Lso3YV0KjEocdW1hqYFr0eiOE3MAeUtq2Lso3YV0KjEocdW1hqYFr0eiOE3MAeUtq2Lso3YV0KjEocdW
        </p>
      </a>
      <div class="actions">
        <button class="btn btn-solid-light">
          <i data-lucide="copy" class="icon-16px"></i>
          Copy short link
        </button>
        <a href="/links/1/edit" class="btn btn-outline">
          <span>
            <i data-lucide="pencil" class="icon-16px"></i>
            Edit
          </span>
        </a>
        <button class="btn btn-outline">
          <i data-lucide="trash" class="icon-16px"></i>
          Delete
        </button>
      </div>
    </div>
    <aside>
      <div class="side-info">
        <div class="side-info-item">
          Total Engagements
          <span class="side-info-value">8 clicks</span>
        </div>
        <div class="side-info-additional">
          <div class="side-info-item">
            Created at
            <span class="side-info-value">Apr 12, 2024 09:93 PM</span>
          </div>
          <div class="side-info-item">
            Updated at
            <span class="side-info-value">Apr 12, 2024 09:93 PM</span>
          </div>
        </div>
      </div>
    </aside>
  </div>
</section>
{{end}}