{{define "title"}}Link Detail{{end}}

{{define "main"}}
<section class="link-detail">
  <div class="container">
    <div class="main-nav">
      <a href="/links/list">&lt; View all links</a>
    </div>
  </div>
  <div class="container">
    <div class="link-detail-content">
      <a href="{{.Origin.proto}}{{.Origin.host}}/{{.Link.BackHalf}}" target="_blank">
        <h2>{{.Origin.host}}/{{.Link.BackHalf}}</h2>
      </a>
      <a href="{{.Link.URL}}" target="_blank">
        <p>{{.Link.URL}}</p>
      </a>
      <div class="actions">
        <button class="btn btn-solid-light">
          <i data-lucide="copy" class="icon-16px"></i>
          Copy short link
        </button>
        <a href="/links/{{.Link.ID}}/edit" class="btn btn-outline">
          <span>
            <i data-lucide="pencil" class="icon-16px"></i>
            Edit
          </span>
        </a>
        <button class="btn btn-outline">
          <i data-lucide="trash" class="icon-16px"></i>
          Delete
        </button>
      </div>
    </div>
    <aside>
      <div class="side-info">
        <div class="side-info-item">
          Total Engagements
          <span class="side-info-value">{{.Link.Engagements}} clicks</span>
        </div>
        <div class="side-info-additional">
          <div class="side-info-item">
            Created at
            <span class="side-info-value">{{formatDate .Link.CreatedAt}}</span>
          </div>
          <div class="side-info-item">
            Updated at
            <span class="side-info-value">{{formatDate .Link.UpdatedAt}}</span>
          </div>
        </div>
      </div>
    </aside>
  </div>
</section>
{{end}}