{{define "title"}}Links{{end}}

{{define "main"}}
<section class="link-all">
  <div class="container">
    <div class="link-all-content">
      <h2>Links</h2>
      <div class="link-list">
        {{range .Links}}
        <div class="link-item">
          <div class="link-item-top">
            <a href="{{$.Origin.proto}}{{$.Origin.host}}/{{.BackHalf}}" target="_blank">
              <h3>{{$.Origin.host}}/{{.BackHalf}}</h3>
            </a>
            <button 
              class="btn btn-solid-light btn-short-link-copy" 
              data-short-link="{{$.Origin.proto}}{{$.Origin.host}}/{{.BackHalf}}"
            >
              <i data-lucide="copy" class="icon-16px"></i>
              Copy
            </button>
          </div>
          <div class="link-item-mid">
            <a href="{{.URL}}" target="_blank">
              <p class="text-snippet">{{.URL}}</p>
            </a>
          </div>
          <div class="link-item-more">
            <span class="link-item-more-info">{{.Engagements}} engagements</span>
            <div class="actions">
              <a
                href="/links/{{.ID}}/edit"
                class="btn btn-outline"
                title="Edit link"
              >
                <span>
                  <i data-lucide="pencil" class="icon-16px"></i>
                </span>
              </a>
              <button class="btn btn-outline btn-link-delete" title="Delete link" data-id="{{.ID}}">
                <i data-lucide="trash" class="icon-16px"></i>
              </button>
              <a
                href="/links/{{.ID}}"
                class="btn btn-outline"
                title="View link detail"
              >
                <span>
                  <i
                    data-lucide="circle-chevron-right"
                    class="icon-16px"
                  ></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        {{else}}
        <div class="link-list-empty">
          <div class="img-container">
            <img src="/static/img/not-found.svg" alt="Not found">
          </div>
          <h3>There are no links available</h3>
          <p>
            You haven't shortened any links with your account. Start shortening a long link <a href="/links/create">here</a>.
          </p>
        </div>
        {{end}}
      </div>
    </div>
    <aside>
      <div>
        <h2>Shorten a long link</h2>
        <a href="/links/create" class="btn btn-solid-primary btn-link-create">
          <i data-lucide="link" class="icon-16px"></i>
          Create new short link
        </a>
      </div>
      <div class="side-info">
        <div class="side-info-item">
          Total Links
          <span class="side-info-value">{{.Summary.TotalLinks}} short links</span>
        </div>
        <div class="side-info-item">
          Total Engagements
          <span class="side-info-value">{{.Summary.TotalEngagements}} clicks</span>
        </div>
      </div>
    </aside>
  </div>
</section>
{{end}}

{{define "script"}}
<script src="/static/js/link-list.js"></script>
{{end}}