{{define "title"}}Create Short Link{{end}}

{{define "main"}}
<section class="link-create-edit">
  <div class="container">
    <div class="link-create-edit-content">
      <h2>Shorten a long link</h2>
      <p>Turn your long link into a more readable link.</p>
      <form method="POST" action="/links/create?from=link-create" novalidate>
        <div class="form-field">
          <label for="url">Long link</label>
          <input
            type="text"
            name="url"
            id="url"
            placeholder="https://super-long-link.com/please-shorten-it"
            value="{{.Form.URL}}"
          />
          {{with .Form.FieldErrors.url}}
            <span class="error">{{.}}</span>
          {{end}}
        </div>
        <div class="form-two-columns">
          <div class="form-field">
            <label for="domain">Domain</label>
            <input
              type="text"
              name="domain"
              id="domain"
              value="{{.Origin.host}}"
              disabled
            />
          </div>
          <div class="form-field">
            <label for="back-half">
              Custom back-half
              <span class="label-note">(optional)</span>
            </label>
            <input type="text" name="back-half" id="back-half" value="{{.Form.BackHalf}}" />
            {{with .Form.FieldErrors.backHalf}}
              <span class="error">{{.}}</span>
            {{end}}
          </div>
        </div>
        <div class="buttons">
          <a href="/links/list" class="btn btn-solid-light">
            Cancel
          </a>
          <button type="submit" class="btn btn-solid-primary">
            Create
          </button>
        </div>
      </form>
    </div>
    <aside>
      <div class="side-info">
        <div class="side-info-item">
          Total Links
          <span class="side-info-value">5 short links</span>
        </div>
        <div class="side-info-item">
          Total Engagements
          <span class="side-info-value">58 clicks</span>
        </div>
      </div>
    </aside>
  </div>
</section>
{{end}}
