{{define "title"}}Login{{end}}

{{define "main"}}
<section class="auth">
  <div class="container">
    <aside>
      <span class="side-text">Welcome back!</span>
    </aside>
    <div class="auth-content">
      <h2>Login</h2>
      <p>
        Don’t have an account?
        <a href="/users/signup">Sign up</a>
      </p>
      <form method="POST" action="/users/login" novalidate>
        <div class="form-field">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="email@example.com"
          />
          <span class="error">Error</span>
        </div>
        <div class="form-field">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
          <span class="error">Error</span>
        </div>
        <button type="submit" class="btn btn-solid-primary">Login</button>
      </form>
    </div>
  </div>
</section>
{{end}}