{{define "title"}}Login{{end}}

{{define "main"}}
<section class="auth">
  <div class="container">
    <aside>
      <span class="side-text">Welcome back!</span>
    </aside>
    <div class="auth-content">
      <h2>Login</h2>
      <p>
        Don’t have an account?
        <a href="/users/signup">Sign up</a>
      </p>
      {{if .Form.NonFieldErrors}}
        <div class="non-field-errors">
          {{range .Form.NonFieldErrors}}
            <div class="error">{{.}}</div>
          {{end}}
        </div>
      {{end}}
      <form method="POST" action="/users/login" novalidate>
        <div class="form-field">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="email@example.com"
            value="{{.Form.Email}}"
            {{if .Form.FieldErrors.email}}class="input-error"{{end}}
          />
          {{with .Form.FieldErrors.email}}
            <span class="error">{{.}}</span>
          {{end}}
        </div>
        <div class="form-field">
          <label for="password">Password</label>
          <input 
            type="password" 
            name="password" 
            id="password" 
            {{if .Form.FieldErrors.password}}class="input-error"{{end}}
          />
          {{with .Form.FieldErrors.password}}
            <span class="error">{{.}}</span>
          {{end}}
        </div>
        <button type="submit" class="btn btn-solid-primary">Login</button>
      </form>
    </div>
  </div>
</section>
{{end}}