{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title" .}} | Stn</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    {{template "header" .}}
    <main>
      {{with .Flash}}
      <div class="flash">
        <div class="container">{{.}}</div>
      </div>
      {{end}}
      {{template "main" .}}
    </main>
    {{template "footer" .}}

    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
{{end}}